<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-light bg-light">
              
            </nav>
        </div>
    </header>
    <main>
        <div id="app" class="jumbotron container">
            <p>{{ question.text }}</p>
            <form @submit.prevent="checkAnswers" @reset.prevent="getQuestion">
                <template v-for="(answer_text, index) in question.answers_texts">
                    <div :class="['custom-control', 'form-group', 'custom-'+inputType]">
                        <input :class="[answerClass(index), 'custom-control-input']" :type="inputType" :id="index" :value="index" v-model="answer" name="answer" :disabled="correction" />
                        <label :for="index" :class="[answerClass(index), 'custom-control-label']">{{ answer_text }}</label>
                    </div>
                </template>
                <div v-if="success && correction" class="alert alert-success">Bonne réponse !</div>
                <div v-if="!success && correction" class="alert alert-danger">Mauvaise réponse !</div>
                <button class="btn btn-primary" type="submit" :disabled="correction">Valider</button>
                <button class="btn btn-primary" type="reset" :disabled="!correction">Prochaine question</button>
            </form>
        </div>
    </main>

    <footer>
        <div class="container">Pour collaborer au projet ou proposer des questions, rendez-vous sur <a href="https://framagit.org/Rowin/quizz-pse">le dépôt GitLab</a></div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>